.active {
  background: linear-gradient(to right, #f69797, #f7bb97);
  color:white!important;
  padding:6px;
  border-radius: 2px;

}
.item a {
	text-decoration: none!important;
	color:black;
	margin-left: auto;
	margin-right:auto;
}
.menu {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)!important;

}

#nav {
	position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: none!important;
    border-radius:0px;

}

